@{
    ViewData["Title"] = "Home Page";
}

<h2>Search</h2>


<input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
<div id="content">

</div>
<a class="btn btn-primary" asp-action="Create">Create</a>

